$header-height: 80px;
$footer-height: 80px;
$body-height: calc(100% - 80px - 80px);
$addin-width: 320px;
$list-icon-size: 30px;


$da-blue: #1b95bb;
$da-blue-semidark: #167a99;
$da-gray: #6d6e71;
$da-gray-ultralight: #f1f1f1;
$da-gray-light: #dddddd; 